<%- include('header.ejs') %>
    <div class="container">
        <div class="header border-bottom mt-4 text-primary mb-4">
            <h1 class="h4">Liste de vos applications</h1>
        </div>
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titre emplois</th>
                <th scope="col">Etat</th>
              </tr>
            </thead>
            <tbody>
                <% applications.forEach(application=>{%>
                    <tr>
                        <th scope="row"><%= application.id_emplois %></th>
                        <td><a href="/emplois/<%= application.id_emplois%>"><%= application.titre %></a></td>
                        <td class="<%= application.etat == "refuser"? "text-danger": application.etat == "accepter"? "text-success": "text-secondary"%>"><%=application.etat%></td>
                        <td><a class="btn btn-danger" href="/deleteApplication/<%= application.id_emplois%>">Suprimmer</a></td>
                      </tr>
               <% }) %>
              
            </tbody>
          </table>
    </div>
    <%- include('footer.ejs') %>