<%- include('header.ejs') %>
  <div class="d-flex justify-content-center">
    <div class="container row">
      <div class="col-lg-8 col-12">
        <div class="row">
          <div class="col-8">
            <div class="h2 text-justify"><%= details.titre %></div>
          </div>
          <% if((user && user.type == "candidat") || !user){ %>
          <div class="col-4">
            <a href="/application/<%=details.id%>" class="btn btn-primary m-3">Apliquer maintenant <i class="bi bi-heart"></i></a>
          </div>
          <% }else{ %>
            <div class="col-4">
              <a href="/applicationEmplois/<%=details.id%>" class="btn btn-primary m-3">Voir les candidature<i class="bi bi-heart"></i></a>
            </div>
            <% } %>
        </div>
        <div class="row text-secondary py-3">
          <div class="col-6">
            <i class="fa-regular fa-building my-1"></i> <%= details.nom %>
          </div>
          <div class="col-6"> <i class="fa-solid fa-location-dot m-2"></i><%= details.ville%>, <%= details.pays %></div>
        </div>
        <div class="row">
          <div class="h5 fw-bold">Description de l'emploi</div>
        </div>
        <div class="fs-9">
          <div class="row text-secondary" id="overview">
            <div class="h6 fw-bold">Apercu</div>
            <p>
             <%= details.introduction %>
            </p>
          </div>

          <div class="row text-secondary" id="fonction">
            <div class="h6 fw-bold">Responsabilite</div>
            <p>
              <%= details.fonction %>
          </div>

          <div class="row text-secondary" id="qualification">
            <div class="h6 fw-bold">Qualification</div>
            <p>
              <%= details.qualification %>
            </p>
          </div>
          <% if((user && user.type == "candidat") || !user){ %>
          <div class="d-flex justify-content-end p-2">
            <a href="/application/<%= details.id %>" class="btn btn-primary p-2 fw-bold">Apliquer maintenant <i class="bi bi-heart"></i></a>

          </div>
          <% } %>
        </div>

      </div>

      <div class="col-md-4 border-start border d-none d-lg-block">
        <h1 class="h4 fw-bold text-primary">À Propos de Mongoose Inc</h1>
        <p class="text-secondary">Mongoose Inc est une entreprise spécialisée dans la gestion des offres d'emploi, offrant des solutions complètes pour les recruteurs et les demandeurs d'emploi. Notre objectif principal est de faciliter le processus de recrutement en connectant les meilleurs talents aux meilleures opportunités.</p>
        
        <h2 class="h6 fw-bold text-primary">Notre Mission</h2>
        <p class="text-secondary">Notre mission est de créer un environnement en ligne convivial qui permet aux entreprises de trouver les candidats les plus qualifiés et aux chercheurs d'emploi de trouver les emplois qui correspondent à leurs compétences et à leurs aspirations. Nous sommes déterminés à simplifier le processus de recrutement pour tous les acteurs impliqués.</p>
    
        <h2 class="h6 fw-bold text-primary">Nos Services</h2>
        <p class="text-secondary">Nos services comprennent la publication d'offres d'emploi, la gestion de candidatures, la mise en relation avec des recruteurs de confiance, et le suivi des candidats tout au long du processus de recrutement. Nous offrons également des outils analytiques pour aider les entreprises à optimiser leur processus de recrutement.</p>
    
        <h2 class="h6 fw-bold text-primary">Contactez-Nous</h2>
        <p class="text-secondary">Si vous avez des questions sur nos services ou si vous souhaitez en savoir plus sur la manière dont Mongoose Inc peut vous aider, n'hésitez pas à nous contacter. Nous sommes là pour vous aider à réussir.</p>
    
      </div>
    </div>
  </div>
  <%- include('footer.ejs') %>