<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MANGOOSE.INC</title>
  <link href="../asset/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../asset/fontAwesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="../../asset/fontAwesome/css/brands.min.css">
  <link rel="stylesheet" href="../../asset/fontAwesome/css/solid.min.css">
  <link rel="stylesheet" href="../../asset/fontAwesome/css/regular.min.css">
  <link rel="stylesheet" href="../..//css/main.css">
  <link rel="stylesheet" href="../../css/main.css">
</head>

<body>
  <style>

  </style>


  <div class="container-fuide position-relative" style="height: 70px; z-index: 6;">
    <nav
      class="navbar col-12 navbar-expand-md navbar-light border-solid justify-content-space-bettewen align-items-center border-bottom px-3 position-fixed bg-light">
      <a href="/" class="nav-link fs-3 fw-light text-primary">MANGOOSE.INC</a>
      <div class="collapse navbar-collapse" id="navbarcollapse">
        <ul class="nav col-12 justify-content-center fs-6 text-dark">
          <li class="nav-item"><a class="nav-link" href="/">Acceuil</a></li>
          <li class="nav-item"><a class="nav-link" href="/">Post d'Emplois</a></li>
          <li class="nav-item"><a class="nav-link" href="#">A propos</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Feedbacks</a></li>
        </ul>
      </div>

      <% if(!user) {%>
        <div class="col-md-3 text-end">
          <a href="/sign-in">
            <button type="button" class="btn btn-outline-primary">Inscrire</button>
          </a>
          <a href="/login">
            <button type="button" class="btn btn-primary">Connecter</button>
          </a>
        </div>
        <% }else{ if(user.type=="candidat" ){ %>
          <div class="col-md-3 d-flex align-items-center justify-content-end">
            <div class="dropdown">
              <div href="/applicationCandidat/<%=user.id%>" type = "button" class="d-flex align-items-center dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="asset/img/test.png" class="img-circle mx-3" alt="" width="50px" height="50px"
                  style="border-radius: 50%;">
                <div class="label">
                  <%= user.nomComplet? user.nomComplet : "no name " %>
                </div>
              </div>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/profile/<%=user.id%>">Profile</a>
                <a class="dropdown-item" href="/applicationCandidat/<%=user.id%>">Mes candidatures</a>
                <a class="dropdown-item" href="/auth/disconnect">Deconnexion</a>
              </div>
            </div>
          </div>
          <% }else { %>
            <div class="col-md-3 d-flex align-items-center justify-content-end">
              <div class="dropdown">
            <div class="d-flex align-items-center dropdown-toggle" type = "button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="asset/img/test.png" class="img-circle mx-3" alt="" width="50px" height="50px"
                  style="border-radius: 50%;">
                <div class="label">
                  <%= user.nom? user.nom : "no name " %>
                </div>
              </div>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/employeur/<%=user.id%>">Profile</a>
                <a class="dropdown-item" href="/auth/disconnect">Deconnextion</a>
              </div>
            </div>
            </div>
            <%}} %>
              <button type="button" class="navbar-toggler" data-bas-toogle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toogle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    </nav>
  </div>